<header>
  <h1>Pokedex</h1>
</header>

<ul class="pokemon-list">
  @for(pokemon of pokemonList(); track pokemon.id){
  <li class="pokemon-item" appPokemonBorder [pokemonType]="pokemon.types[0]">
    <div class="pokemon-item-img">
      <img [src]="pokemon.picture" [alt]="pokemon.name" />
    </div>
    <div class="pokemon-item-content">
      <h2>{{ pokemon.name }}</h2>
      <p>Taille : {{ size(pokemon) }}</p>
      <p>{{pokemon.created | date: "dd/MM/yyyy"}}</p>
      <p>Point de vie : {{ pokemon.life }}</p>
      <button (click)="incrementLife(pokemon)" [disabled]="pokemon.life >= 30">
        +
      </button>
      <button (click)="decrementeLife(pokemon)" [disabled]="pokemon.life <= 10">
        -
      </button>
    </div>
  </li>
  }@empty {
  <p>Pas de pokemons dans le pokedex</p>
  }
</ul>
