<div class="container">
  <img [src]="pokemon().picture" [alt]="pokemon().name" />
  <div class="card-body">
    <h2>{{ pokemon().name }}</h2>
    <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset class="input-container">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Nom du pokemon"
          formControlName="name"
          [class.is-invalid]="pokemonName.invalid"
        />
      </fieldset>
      @if(pokemonName.hasError('required')) {
      <div class="invalid-feedback">Veuillez renseigner ce champ.</div>
      } @if(pokemonName.hasError('minlength')) {
      <div class="invalid-feedback">
        Veuillez saisir un nom plus long. (Minimum :
        {{ pokemonName.getError("minlength").requiredLength }} caractères)
      </div>
      } @if(pokemonName.hasError('maxlength')) {
      <div class="invalid-feedback">
        Veuillez saisir un nom plus court. (Maximum :
        {{ pokemonName.getError("maxlength").requiredLength }} caractères)
      </div>
      } @if(pokemonName.hasError('pattern')) {
      <div class="invalid-feedback">
        Veuillez saisir uniquement des lettres.
      </div>
      }
      <fieldset class="input-container">
        <label for="life">Points de vie</label>
        <div class="input-container-controllers">
          <button
            class="btn"
            type="button"
            (click)="decrement('life')"
            [disabled]="pokemonLife.value <= POKEMON_RULES().MIN_LIFE"
          >
            -
          </button>
          <input
            type="number"
            id="life"
            name="life"
            formControlName="life"
            readonly
          />
          <button
            class="btn"
            type="button"
            (click)="increment('life')"
            [disabled]="pokemonLife.value >= POKEMON_RULES().MAX_LIFE"
          >
            +
          </button>
        </div>
      </fieldset>
      <fieldset class="input-container">
        <label for="damage">Dégâts</label>
        <div class="input-container-controllers">
          <button
            class="btn"
            type="button"
            (click)="decrement('damage')"
            [disabled]="pokemonDamage.value <= POKEMON_RULES().MIN_DAMAGE"
          >
            -
          </button>
          <input
            type="number"
            id="damage"
            name="damage"
            formControlName="damage"
            readonly
          />
          <button
            class="btn"
            type="button"
            (click)="increment('damage')"
            [disabled]="pokemonDamage.value >= POKEMON_RULES().MAX_DAMAGE"
          >
            +
          </button>
        </div>
      </fieldset>
      <fieldset class="input-container">
        <h3>types</h3>
        <div class="types-container">
          <div class="selected-types-list">
            @for(type of pokemonTypeList.controls; track type; let index =
            $index){
            <button
              type="button"
              class="btn-span"
              (click)="pokemonTypeList.removeAt(index)"
              [ngStyle]="{
                backgroundColor: getPokemonColor(type.value),
                color: type.value === 'Electrik' ? 'black' : 'white'
              }"
            >
              {{ type.value }}<span>x</span>
            </button>
            }
          </div>
          @if(pokemonTypeList.hasError('required')) {
          <p class="text-danger">
            Veuillez sélectionner au moins un type pour un Pokémon.
          </p>
          } @if(pokemonTypeList.hasError('maxlength')) {
          <p class="text-danger">
            Veuillez sélectionner au maximum
            {{ pokemonTypeList.getError("maxlength").requiredLength }} types
            pour un Pokémon.
          </p>
          }

          <div class="checkbox-container">
            @for(type of pokemonService.getPokemonTypes(); track type) {
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                #checkbox
                [checked]="isPokemonTypeSelected(type)"
                (change)="onPokemonTypeChange(type, checkbox.checked)"
                [disabled]="PokemonTypeListSelected >= POKEMON_RULES().MAX_TYPES"
                [value]="type"
                [id]="type"
              />
              <label class="form-check-label" [for]="type">
                {{ type }}
              </label>
            </div>
            }
          </div>
        </div>
      </fieldset>
      <div class="btn-container">
        <button class="btn-link" [routerLink]="['/pokemons/', pokemon().id]">
          RETOUR
        </button>
        <button type="submit" class="btn-link">SAUVEGARDER</button>
      </div>
    </form>
  </div>
</div>
@if(form.invalid) {
<div class="alert alert-danger">
  Veuillez corriger les erreurs avant de sauvegarder le Pokémon.
</div>
}

<pre>{{ form.value | json }}</pre>
{{ pokemonTypeList.errors | json }}
