<div class="container">
  <img [src]="pokemon().picture" [alt]="pokemon().name" />
  <div class="card-body">
    <h2>{{ pokemon().name }}</h2>
    <table>
      <tbody>
        <tr>
          <th>Points de vie</th>
          <td>{{ pokemon().life }}</td>
        </tr>
        <tr>
          <th>Dégâts</th>
          <td>{{ pokemon().damage }}</td>
        </tr>
        <tr>
          <th>Types</th>
          <td class="span-container">
            @for(type of pokemon().types; track type){
            <span>{{ type }}</span>
            }
          </td>
        </tr>
        <tr>
          <th>Date de création</th>
          <td>{{ pokemon().created | date : "dd/MM/yyyy" }}</td>
        </tr>
      </tbody>
    </table>
    <div class="btn-container">
      <button class="btn-link" routerLink="/pokemons">RETOUR</button>
      <button class="btn-link">EDITER</button>
      <button class="btn-link">SUPPRIMER</button>

    </div>
  </div>
</div>
